.container-fluid {
  padding: 0;
}

body {
  font-family: arial,sans-serif;
}

ul li {
  display: inline;
  padding: 10px;
}

#first-layer {
  padding-top: 20px;
}

#first-layer form {
  padding-left: 15px;
}

#first-layer img {
  width: 120px;
  height: 44px;
}

#first-layer ul {
  margin-top: 8px;
}

#first-layer form {
  margin-top: 4px;
}

#glyphicons {
  padding: 0 0 0 50px;
}

#second-layer {
  margin-top: 8px;
}

#second-layer > .col-xs-5 {
  padding-left: 0;
}

#second-layer ul li {
  color: #838384;
}

#second-layer li a:hover {
  text-decoration: none;
}

#second-layer li#active {
  border-bottom: 3px solid #4286f4;
  font-weight: bold;
}

#second-layer a, #glyphicons a {
  color: #838384;
}

#second-layer a:hover, #glyphicons a:hover {
  color: #303030;
}

#second-layer #active a {
  color: #4286f4;
}

#right-menu {
  margin-left: 60px;
}

#header {
  border-bottom: 1px solid #bababa;
  background-color: #f7f7f7;
  padding-left: 10px;
}

#box {
  border: 0.5px solid #bababa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 10px 0 0 0;
  width: 563px;
}

#box ol {
  padding-left: 18px;
}

#results h2, #results h3 {
  font-size: 17px;
}

#about-result a {
  color: #838384;;
  font-size: 12px;
}

#results {
  border: 1px solid black;
  padding-left: 55px;
}

.content h3 {
  margin-bottom: 3px;
}

.content p {
  line-height: 15px;
  margin-bottom: 5px;
}

.content .snippet {
  font-size: small;
}

.content .links {
  color: #406d33;
}

#links a {
  font-weight: bold;
}
